@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Articulat';
  src: url('/assets/fonts/ArticulatCF-Medium.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Articulat';
  src: url('/assets/fonts/ArticulatCF-Normal.otf');
  font-weight: 500;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  font-family: 'Articulat', helvetica, arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.rhap_container {
  background-color: transparent !important;
}

.rhap_progress-bar-show-download {
  background-color: white !important;
  height: 2px !important;
}

.rhap_progress-section {
  position: relative !important;
}

.rhap_time {
  position: absolute !important;
  top: 27px !important;
  color: white !important;
  font-size: 14px !important;
}

.rhap_time.rhap_total-time {
  right: 0 !important;
}

.rhap_main-controls-button {
  color: white !important;
}

.rhap_progress-indicator {
  background: white !important;
  width: 12px !important;
  height: 12px !important;
  top: -5px !important;
}

.rhap_progress-container {
  margin: 0 !important;
}

.rhap_progress-indicator {
  margin: 0 !important;
}

.rhap_button-clear {
  position: absolute;
  top: 50px;
  left: 0;
  width: 80px;
  height: 90px;
  width: 80px !important;
  height: 90px !important;
}

.rhap_container svg {
  width: 80px !important;
  height: 90px !important;
}

.rhap_additional-controls {
  display: none !important;
}